.sign{
    margin: 0px;
    transform-origin: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/sign_beta_2.png");
    

    -webkit-filter: drop-shadow(1px 1px 3px #000);
    filter: drop-shadow(1px 1px 3px #000);
    position: absolute;
    z-index: 3;
    will-change: transform,left, top, z-index;
}
.sign:active{
    -webkit-filter: drop-shadow(1px 1px 3px #000);
    filter: drop-shadow(1px 1px 3px #000);
    z-index: 5;
}
.tian {
    transform: rotateZ(90deg);
    pointer-events: none;
}

.banish {
    transform: rotateZ(-30deg)!important;
    z-index: 5;
}

.sign.draggable{
    position: absolute;
}
