.sign{
    /* width: 20px;
    min-width: 2px;
    
    height: 220px; */
    margin: 0px;
    transform-origin: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../../public/images/sign_3.png");
    -webkit-filter: drop-shadow(1px 1px 3px #000);
    filter: drop-shadow(1px 1px 3px #000);
    position: absolute;
    z-index: 3;
}
.sign:hover,.sign:active{
    -webkit-filter: drop-shadow(1px 1px 3px #fff);
    filter: drop-shadow(1px 1px 3px #fff);
    z-index: 100;
}
.tian {
    width: 20px!important;
    height: 200px!important;
    transform: rotateZ(90deg);
}

.sign.draggable{
    position: absolute;
}
.sign.spliter{
    background: none;
    
}