.gua-menu-bar {
    /* width: 30%;
    max-width: 400px;
    max-height: 100px;
    width: 320px; */
    position: fixed;
    bottom: 5%;
    right: 2%;
    padding: 5px;
    border: 2px double #999;
    border-radius: 50px;
    background-color: #ddd;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    z-index: 110;
}
.gua-menu-bar ul,
.gua-menu-bar ul li{
    display: flex;
}

.gua-menu-bar ul li .gua-menu-item{

    font-size: 1.2rem;
    border: 2px solid #ddd;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
    padding: 0.2em 0.4em;
}
.gua-menu-bar ul li:last-child .gua-menu-item{
    border-radius: 0 50px 50px 0;
}
.gua-menu-bar ul li:first-child .gua-menu-item{
    width: 50px;
    margin-right: 10px;
    border-radius: 50px 0 0 50px;
}

.gua-menu-item:active{
    transform: translateY(10%);
}

.gua-menu-bar.closed{
    right: 50px;
    transform: translateX(100%);
    
}
.gua-menu-bar ul li:first-child .gua-menu-item p{
    transition: all 0.3s ease-in-out;
}
.gua-menu-bar.closed ul li:first-child .gua-menu-item p{
    left: 50px;
    transform: rotateY(-180deg);
}