.gua-describe-container{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.gua-describe-container::before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0 , 0.8);
    z-index: var(--z-index-container);
}

.result-boardcast{
    max-width: 95%;
    max-height: 95%;
    position: absolute;
    top: 20%;
    left: 5%;
    /* min-height: 320px;  */
    background-image: url('/images/table_bg.avif');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 2px 5px 1px #333;
    z-index: var(--z-index-container);
    transition: left 0.3s ease-in;
}


.result-boardcast.fulled:not(.closed){
    position: fixed;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    transition: none;
    animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}


.result-boardcast.closed{
    left: -100%;
}
.result-boardcast.closed{
    transition: none;
}


.result-boardcast .show-btn{
    width: 10%;
    height: 30%;
    position: fixed;
    top: 20%;
    left: -100%; 
    font-size: 5rem;
    font-weight: bolder;
    background-image: url('/images/table_bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    
    transition: left 0.3s ease-in;
    box-shadow: 2px 2px 5px 1px #333;
}

.result-boardcast.closed .show-btn{
    left: -5%;
    transform: skew(-10deg, 10deg);
}
.result-boardcast.closed .show-btn::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 50%;
    top: 0.5rem;
    right: 0.5rem;
    background-image: url('/images/result_2.png');
    background-repeat: no-repeat;
    background-size: contain;

}
.result-boardcast .close-btn{
    left: 10px;
    right: inherit;
}
.flex-row{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.gua-block{
    position: relative;
    width: 10vw;
    min-width: 100px;
    height: 15vw;
    min-height: 100px;
    margin: 10px 20px;
    max-width: 250px;
}
.gua-block .gua-label{
    position: absolute;
    bottom: -1rem;
}

.gua-description-mode button{
    color: #fff;
    margin: 10px;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    border: 3px solid #fff;
    background-color: #555;
    /* padding: 1rem, 2rem; */
}
.gua-description-mode button:hover,
.gua-description-mode button.active
{   
    border: 3px solid red;
}



.gua-description{
    padding: 10px;
    justify-content: center;
} 
.description{
    font-size: 1.5em;
}
.gua-describe{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.gua-describe p{
    margin: 0;
    padding: 0;
}
.gua-describe>h2{
    font-size: 1.2rem;
    margin: 10px;
}

.gua-describe-content{
    padding: 10px;
    border: 2px solid #000;
}
.description-title{
    text-align: center;
}
/* #result-boardcast .close-btn{
    width: 50px;
    height: 100px;
    position: absolute;
    right: -30px;
    border-radius: 0 10px 10px 0;
    top: 0;
    background-color: rgb(228, 214, 193);
    border: 0;
    z-index: -1;
} */

.restore-result{
    width: 100%;
    display: flex;
    justify-content: center;
}
.restore-result button{
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    transition: 0.2s all linear;
}

.restore-result button:hover{
    background: rgba(0, 0, 0 ,0.3);
    color: #fff;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
    .result-boardcast{
        flex-direction: row;
    }
}

@keyframes write-down {
    
}
