.history-list{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex: 1;    
    transition: 0.2s all ease-in-out;
}
.history-item{
    position: relative;
    width: 90%;
    min-width: 300px;
    height: 10vh;
    background-image: url('../../../public/images/table_bg.avif');
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    margin: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s all ease-in-out;
    /* animation: fadeIn 0.5s linear; */
}
/* .history-item:hover{
    transform: translateX(10px);
    cursor: pointer;
} */
.history-item.closing{
    margin: 0;
    animation: fadeOut 0.5s forwards;
}


/* .history-item .danger-btn{
    position: absolute;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    color: aliceblue;
} */
.history-item .history-title{ 
    text-align: center;
    flex: 2;
}
.history-item .history-time{
    flex: 2;
}
.history-item .history-btn{
    display: flex;
    justify-content: center;
    flex: 2;
   
}

.history-item button{
    padding: 0.4rem 0.4rem;
    font-size: 1rem;
    border: none;
    color: aliceblue;
    /* margin: 0 0.25rem;  */
}
@keyframes fadeInRow {
    0%{
        transform: rotateX(-10px);
    }
    100%{
        transform: rotateX(0px);
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
        height: 10vh;
    }
    100%{
        opacity: 0;
        height: 0;
    }
}

@media screen and (min-width: 798px) {
    .history-item button{
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
} 