/* @import url('https://fonts.googleapis.com/earlyaccess/cwtexkai.css'); */
*{
  margin: 0;
  padding: 0;
  font-family: "cwTeXKai",'DFKai-SB','Gill Sans';
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  box-sizing: border-box;
  /* touch-action: none; */
  /* user-select: none; */
  /* -webkit-user-select: none; */
}
:root{
  --z-index-nav: 100;
  --z-index-container: 10;
}

html,body{
  margin: 0;
  padding: 0;
}
.app{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('/images/bg_2.avif');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

h1,h2,ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: pre-line;
}
a{
  /* color: #000; */
  text-decoration: none;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.5rem;
}
/* flex  */

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* button style */
button{
  cursor: pointer;
  /* background-color: #FFD700; */
}
button.default{
  color: #000;
  transition: transform 0.1s ease-in-out;
}
button.default:hover,
button.default:active
{
  transform: scale(0.95);
  color: #ff0000;
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: transparent;
  border: none;
  background-image: url('/images/icons/close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
}
.close-btn:hover{
  transform: scale(1.1);
}
.primary-btn{
  border-radius: 1rem;
  background-color: #a0e385;
}
.primary-btn:hover{
  transform: translateY(5px);
}
.danger-btn{
  border-radius: 1rem;
  background-color: #ff0000;
}
.danger-btn:hover{
  transform: translateY(5px);
}

/* button style */

/* scroll style */

.scroll-block{
  overflow-x: auto;
  overflow-y: auto;
}

.scroll-block::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-block.sm::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-block.lg::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.scroll-block.xl::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

.scroll-block::-webkit-scrollbar-button {
  /* border-radius: 4px; */
  display: none;
}

.scroll-block::-webkit-scrollbar-track-piece {
  background: transparent;
  display: none;
}

.scroll-block::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background-color: #aaa;
  height: 10%;
}
.scroll-block::-webkit-scrollbar-track {
  box-shadow: transparent;
  position: relative;
  display: none;
}


/* scroll style */




[hidden]{
  display: none!important;
}
.nav{
  position: fixed;
  top: 0;
  left:0;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}





span.loading-icon{
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
  background: #25b09b;
  border-radius: 50%;
  position: relative;
  --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: loading-spinner 1s infinite linear;
}
@keyframes loading-spinner{
  to{
    transform: rotate(360deg);  
  }
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}