*{
    touch-action: none;
}
/* @media screen and (max-width: 1000px){
    *{
        transition: none!important;
    }
} */
.gua-container{
    width: 100vw;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    

    /* background-image: url('../../../public/images/bg_2.avif');
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
}
.gua-state-info{
    min-width: 120px;
    height: fit-content;
    padding: 10px;
    font-size: 1rem;
    border: 3px solid #000;
}
.gua-state-info h1{
    font-size: 1rem;
}
.gua-broadcast {
    width: 80%;
    /* height: 20%; */
    position: relative;
    display: flex;
    justify-content: space-between;
   
}
.gua-broadcast-text{
    display: flex;
    align-items: center;
    
}
.gua-broadcast-text h1{
    animation: fadeIn 0.5s;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.gua-broadcast-text::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -20px;
    top: calc(50% - 10px);

    background-image: url('../../../public/images/icons/arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: shiftRow 2s infinite;
}

@keyframes shiftRow {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes shiftCol {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

